# Python
*.pyc
*.pyo
*.pyd
__pycache__/
venv/
env/
ENV/
build/
dist/
*.egg-info/
*.log

# Flask specific
instance/
.pytest_cache/
coverage/
*.db
*.sqlite3

# React
node_modules/
build/
*.log

# Operating system
.DS_Store
Thumbs.db

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# Environment variable files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
